:root {
  font-family: system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 400;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* for removing the highlight */
  -webkit-tap-highlight-color: transparent; 
  tap-highlight-color: transparent;

  --clr-p: #b199ff;
  --clr-p-hover: #e1ccff;
  --clr-p-active: #ffffff;
  --clr-s: #66bb6a;
  --clr-e: #f44336;
  --clr-i: #29b6f6;
  --clr-w: #ffa726;
  --clr-0: #efefef;
  --clr-1: #d5d5d5;
  --clr-2: #242424;
  --clr-3: #161616;
  --clr-h:rgba(0, 0, 0, 0.2);
  color-scheme: light dark;
  color: var(--clr-0);
  background-color: var(--clr-2);
}
@media (prefers-color-scheme: light) {
  :root {
    --clr-p: #5e35b1;
    --clr-p-hover: #b39ddb;
    --clr-p-active: #ffffff;
    --clr-s: #309735;
    --clr-e: #d32f2f;
    --clr-i: #0288d1;
    --clr-w: #ec9100;
    --clr-0: #090320;
    --clr-1: #828797;
    --clr-2: #f8f8f8;
    --clr-3: #ffffff;
    --clr-h:rgba(0,0,0,0.15);
  }
}
/* layouts */
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100svh;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@keyframes pulse{
  0%{
      opacity: 0;
  }
  15%{
      opacity: 1;
  }
  85%{
      opacity: 1;
  }
  100%{
      opacity: 0;
  }
}